<% layout("/layouts/boilerplate") -%>

<br />
<div class="row justify-content-center">
  <div class="col-8">
    <h3>Edit Listing</h3>
    <form
      enctype="multipart/form-data"
      method="post"
      class="needs-validation"
      novalidate
      action="/listings/<%= listing._id %>?_method=PUT"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          required
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          placeholder="Enter title"
          maxlength="50"
        />

        <div class="invalid-feedback">Please enter title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          placeholder="Enter description"
          id="description"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter description</div>
      </div>
      <div class="mb-3">
        <label for="current-image" class="form-label">Image Preview</label
        ><br />
        <img
          class="img-fluid"
          style="width: 250px; height: 130px; object-fit: cover"
          id="current-image"
          src="<%= listing.image.url + '?w=600&auto=format&fit=crop&q=60' %>"
          alt="listing-image"
          name="listing[image]"
        />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload new image</label>
        <input
          class="form-control"
          type="file"
          name="listing[image]"
          placeholder="Enter image"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            required
            class="form-control"
            type="number"
            name="listing[price]"
            value="<%= listing.price %>"
            placeholder="Enter price"
          />
          <div class="invalid-feedback">Please enter price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            required
            class="form-control"
            type="text"
            value="<%= listing.country %>"
            name="listing[country]"
            placeholder="Enter country name"
          />
          <div class="invalid-feedback">Please enter country</div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col col-md-5">
          <label for="location" class="form-label">Location</label>
          <input
            required
            class="form-control"
            type="text"
            name="listing[location]"
            placeholder="Kolkata, West Bengal"
            value="<%= listing.location %>"
          />
          <div class="invalid-feedback">Enter location</div>
        </div>
        <div class="mb-3col col-md-7">
          <label for="select" class="form-label">Category</label>
          <select
            class="form-select"
            id="select"
            aria-label="select category"
            required
            name="listing[category]"
          >
            <option value="" disabled selected><%= listing.category %></option>
            <option value="trending">Trending</option>
            <option value="rooms">Rooms</option>
            <option value="city">City</option>
            <option value="mountain">Mountain</option>
            <option value="castle">Castle</option>
            <option value="pool">Pool</option>
            <option value="camping">Camping</option>
            <option value="farm">Farm</option>
            <option value="arctic">Arctic</option>
            <option value="forest">Forest</option>
            <option value="beach">Beach</option>
            <option value="heritage">Heritage</option>
          </select>
        </div>
      </div>
      <button class="btn btn-danger my-3">Save</button>
    </form>
  </div>
</div>
