<% layout("/layouts/boilerplate") -%>

<div class="container-fluid border-bottom">
  <div class="row align-items-center">
    <!-- LEFT ARROW -->
    <div class="col-auto">
      <button class="btn btn-light arrow-btn" id="scrollLeft">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
    </div>
    <!-- Filters  -->
    <div
      id="filters"
      class="d-flex flex-nowrap overflow-auto py-2 gap-2 gap-md-4 col col-7 col-lg-6 mx-2"
    >
      <a
        href="/listings?category=trending"
        class="text-decoration-none text-dark"
      >
        <div class="filter text-center">
          <i class="fa-solid fa-fire"></i>
          <p class="mb-0">Trending</p>
        </div>
      </a>

      <a href="/listings?category=rooms" class="text-decoration-none text-dark">
        <div class="filter text-center">
          <i class="fa-solid fa-bed"></i>
          <p class="mb-0">Rooms</p>
        </div>
      </a>

      <a href="/listings?category=city" class="text-decoration-none text-dark">
        <div class="filter text-center">
          <i class="fa-solid fa-city"></i>
          <p class="mb-0">Cities</p>
        </div>
      </a>

      <a
        href="/listings?category=mountain"
        class="text-decoration-none text-dark"
      >
        <div class="filter text-center">
          <i class="fa-solid fa-mountain"></i>
          <p class="mb-0">Mountain</p>
        </div>
      </a>

      <a
        href="/listings?category=castle"
        class="text-decoration-none text-dark"
      >
        <div class="filter text-center">
          <i class="fa-brands fa-fort-awesome"></i>
          <p class="mb-0">Castles</p>
        </div>
      </a>

      <a href="/listings?category=pools" class="text-decoration-none text-dark">
        <div class="filter text-center">
          <i class="fa-solid fa-person-swimming"></i>
          <p class="mb-0">Pools</p>
        </div>
      </a>

      <a
        href="/listings?category=camping"
        class="text-decoration-none text-dark"
      >
        <div class="filter text-center">
          <i class="fa-solid fa-campground"></i>
          <p class="mb-0">Camping</p>
        </div>
      </a>

      <a href="/listings?category=farm" class="text-decoration-none text-dark">
        <div class="filter text-center">
          <i class="fa-solid fa-tractor"></i>
          <p class="mb-0">Farms</p>
        </div>
      </a>

      <a
        href="/listings?category=arctic"
        class="text-decoration-none text-dark"
      >
        <div class="filter text-center">
          <i class="fa-solid fa-snowman"></i>
          <p class="mb-0">Arctic</p>
        </div>
      </a>

      <a
        href="/listings?category=forest"
        class="text-decoration-none text-dark"
      >
        <div class="filter text-center">
          <i class="fa-solid fa-tree"></i>
          <p class="mb-0">Forest</p>
        </div>
      </a>

      <a href="/listings?category=beach" class="text-decoration-none text-dark">
        <div class="filter text-center">
          <i class="fa-solid fa-umbrella-beach"></i>
          <p class="mb-0">Beach</p>
        </div>
      </a>

      <a
        href="/listings?category=heritage"
        class="text-decoration-none text-dark"
      >
        <div class="filter text-center">
          <i class="fa-solid fa-synagogue"></i>
          <p class="mb-0">Heritage</p>
        </div>
      </a>
    </div>

    <!-- RIGHT ARROW -->
    <div class="col-auto">
      <button class="btn btn-light arrow-btn" id="scrollRight">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>

<!-- ERROR MESSAGE FOR SEARCH  -->
<div class="row justify-content-center">
  <div class="col col-10 col-md-8">
    <% if (!hasResults) { %>
    <div class="alert alert-info text-center mt-4">
      No results found <% if (search) { %> for "<strong><%= search %></strong>"
      <% } %>
    </div>
    <% } %>
  </div>
</div>

<!-- ERROR CLEAR FILTER -->
<% if (!hasResults) { %>
<div class="text-center">
  <a href="/listings" class="btn btn-outline-secondary mt-2"> Clear filters </a>
</div>
<% } %>

<div
  class="row justify-content-center row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3"
>
  <% for(let listing of listings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card listing-card col">
      <img
        loading="lazy"
        src="<%= listing.image.url + '?w=600&auto=format&fit=crop&q=60' %>"
        class="card-img-top mb-2"
        alt="listing-image"
      />
      <div class="card-body">
        <p class="card-text ms-3">
          <b><%= listing.title %></b> <br />
          &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
        </p>
      </div>
    </div>
  </a>

  <% } %>
</div>

<!-- PAGINATION LOGIC USED ON INDEX  ROUTE -->
<div
  class="row justify-content-center row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3"
>
  <div class="d-flex justify-content-center align-items-center my-4">
    <!-- Previous page -->
    <% if (currentPage > 1) { %>
    <a
      href="/listings?page=<%= currentPage - 1 %>"
      class="btn btn-outline-secondary me-3"
    >
      Prev
    </a>
    <% } else { %>
    <span></span>
    <% } %>
    <!-- Page numbers -->
    <div class="d-flex gap-2">
      <% for (let i = 1; i <= totalPages; i++) { %>
      <a
        href="/listings?page=<%= i %><%= category ? `&category=${category}` : '' %><%= search ? `&search=${search}` : '' %>"
        class="btn btn-sm <%= currentPage === i ? 'btn-dark' : 'btn-outline-dark' %>"
      >
        <%= i %>
      </a>
      <% } %>
    </div>
    <% if (currentPage < totalPages) { %>
    <a
      href="/listings?page=<%= currentPage + 1 %>"
      class="btn btn-outline-secondary ms-3"
    >
      Next
    </a>
    <% } %>
  </div>
</div>
<script src="/js/index.js"></script>
