<% layout("/layouts/boilerplate") -%>

<div class="row justify-content-center">
  <div class="col-10 col-md-8 mt-4">
    <h3><b><%= listing.title %></b></h3>
    <div class="card col-md-8 mt-4">
      <img
        src="<%= listing.image  %> "
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body mt-3">
        <p class="card-text">
          <%= listing.description %> <br />
          <%= listing.price.toLocaleString("en-IN") %> <br />
          <%= listing.location %> <br />
          <%= listing.country %>
        </p>
      </div>
    </div>

    <div class="show-btns d-flex gap-5 mb-4">
      <form action="/listings/<%= listing._id %>/edit">
        <button class="btn btn-danger">Edit</button>
      </form>

      <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
  </div>

  <div class="col-10 col-md-8 mt-4">
    <hr />
    <h4>Leave a Review</h4>
    <form class="mb-3" method="post" action="/listings/<%= listing.id %>/reviews">
      <div class="my-3 row ">
        <label class="form-label" for="rating">Rating</label>
        <div class="col-7">
          <input
            type="range"
            class="form-range"  
            name="review[rating]"
            id="rating"
            min="1"
            max="5"
          />
        </div>
      </div>
      <div class="my-3">
        <label class="form-label" for="comment">Comment</label>
        <textarea
          class="form-control"
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
        ></textarea>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
  </div>
</div>
